body.error404 {

	section#page-header.error-404 {
		text-align: center;
		padding-top: 25px;

		h2 {
			max-width: 100%;
			margin: 0 0 10px 0;
		}

		.details {
			width: 100%;
			padding: 0;

			.copy {
				margin: 0 auto;
			}
		}

		.image {
			img {
				margin: 0 auto;
			}
		}
	}



}