body.page-template-catering {

	section#page-header {
		display: block;
	}


	section#menu {
		section.popup {

			.note {

			}

			.offerings {

			}

			.offering {

				& + .offering {
					padding-top: 50px;
				}

				.headline {
					padding-bottom: 5px;
				}

			}

			.options {
				@include tablet-portrait {
					display: flex;
					align-items: center;					
				}
			}

			.option {
				display: flex;
				align-items: center;
				font-size: 0.875rem;

				& + .option {
					padding: 10px 0 0 0;

					@include tablet-portrait {
						padding: 0 0 0 25px;
					}
				}

				.link {
					a {
						display: flex;
						align-items: center;

						span {
							text-decoration: underline;
							display: block;
							margin-left: 5px;
							text-transform: uppercase;
						}

						&:before {
							content: 'i';
							display: block;			
							text-decoration: none;
							font-size: 0.75rem;
							line-height: 18px;
							text-align: center;
							width: 16px;
							height: 16px;
							border: 1px solid $slate;
							border-radius: 50%;
						}

						&:after {
							content: ':';
						}
					}
				}

				.price {
					padding-left: 5px;
				}
			}
		}

		.popup-info {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			justify-content: center;
			align-items: center;
			z-index: 1000000;
			padding: 0 25px;

			@media screen and (max-height: 50em) {
				align-items: flex-start;
				overflow: scroll;
				margin-top: 20px;
			}

			&.show {
				display: flex;
			}

			.popup-wrapper {
				width: 100%;
				max-width: 695px;
				padding: 25px;
				background: $white;
				border-radius: 10px;
				box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
				overflow: scroll;

				@include tablet-portrait {
					padding: 50px;
				}

				.close-x {
					position: absolute;
					top: 20px;
					right: 20px;
					color: $light-blue;
					font-weight: 400;
					font-size: 1.75em;

					@include tablet-portrait {
						top: 30px;
						right: 40px;
						font-size: 2em;
					}
				}

				.header {
					text-align: left;
					padding-bottom: 25px;
					width: calc(100% - 20px);

					h2 {
						text-transform: uppercase;

						@include tablet-portrait {
							font-size: 1.75rem;
						}
					}
				}

				.items {
					@include mobile-landscape {
						columns: 2;
						column-gap: 25px;
					}

				}

				.item {
					break-inside: avoid;
					margin: 0 0 20px 0;

					p {
						line-height: 1.5em;

						span.name {
							text-transform: uppercase;
							letter-spacing: 0.025em;
							font-size: 1.125rem;
						}

						span.ingredients {
							font-size: 0.875rem;
							display: none;

							@include tablet-portrait {
								display: inline;
							}

							&:before {
								content: ' - '
							}
						}
					}
				}

				.items-note {
					padding-bottom: 25px;

					p {
						font-size: 1rem;
						line-height: 1.25em;

						& + p {
							padding-top: 20px;
						}
					}
				}

				.got-it {
					display: flex;
					justify-content: flex-end;
					padding-top: 25px;

					a {
						color: $white;
						padding: 18px 20px 16px 20px;

						@include tablet-portrait {
							padding: 25px 30px 23px 30px;
							font-size: 1.25em;
						}
					}
				}


			}
		}

	}


	&.catering-popup {
		overflow: hidden;
	}
}