body.page-template-contact {

	section#contact {
		margin-top: 50px;
		background: $light-blue;
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0 50px 0;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.contact-form {
			width: 100%;
			max-width: 575px;

			@include tablet-portrait {
				width: 47.5%;
			}

			.nf-form-fields-required,
			.nf-error-field-errors {
				display: none;
			}

			.label-above .nf-field-label {
				margin-bottom: 5px;
			}

			.nf-field-container {
				margin-bottom: 20px;
			}

			label {
				font-weight: 400;
				font-size: 0.875em;
				padding: 0;
				margin: 0;
				color: $brown;
			}

			.nf-field-element textarea {
				border: none;
				padding: 10px;

				&:focus,
				&:active {
					outline: none;
				}
			}

			.nf-field-element select option {
				padding: 5px 0;
			}

			.nf-field-element input {
				padding: 20px;

				&[type="text"],
				&[type="email"],
				&[type="zip"] {
					border: none;

					&:focus,
					&:active {
						outline: none;
					}
				}
			}

			.nf-error-msg {
				font-size: 0.75em;
				font-weight: 600;
			}

			.submit-wrap {
				padding: 25px 0;
			}

			.submit-wrap .nf-field-element {
				padding-left: 24px;
				@include flag-input;				
			}

			.submit-wrap input[type=button] {
				background: $dark-blue;
				color: $white;
				border: none;
				border-radius: 0;
				display: inline-block;
				padding: 18px 20px 16px 20px;
				text-transform: uppercase;
				letter-spacing: 0.04em;
				font-weight: 600;
				font-size: 0.875em;
				position: relative;
			}

			input:-webkit-autofill {
			    -webkit-box-shadow: 0 0 0 30px white inset;
			}

		}

		.community {
			width: 100%;
			padding: 25px 0 0 0;
			max-width: 340px;

			@include tablet-portrait {
				width: 47.5%;
				padding: 0;
				margin: 0 auto;
			}

			h3 {
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.1em;
				font-size: 1em;
				line-height: 1.5em;
				padding: 0 0 15px 0;

				@include tablet-portrait {
					font-size: 1.25em;
					padding: 0 0 25px 0;
				}
			}

			p {
				padding: 20px 0 0 0;
				font-size: 0.875em;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.25em;
					padding: 30px 0 0 0;
				}

				a {
					text-decoration: underline;
					font-weight: bold;
				}
			}
		}
	}



}