footer {
	padding: 50px 0 50px 0;
	z-index: 1;

	@include tablet-portrait {
		padding: 100px 0 50px 0;
	}

	.footer-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.footer-nav,
		.social-nav,
		.copyright {
			width: 100%;

			@include tablet-landscape {
				width: auto;
			}
		}

		.footer-nav {

			@include tablet-landscape {
				display: flex;
			}

			.link {
				padding: 10px 0;

				@include tablet-landscape {
					padding: 10px 0 0 0;

					& + .link {
						margin-left: 25px;
					}
				}

				@include desktop  {

					& + .link {
						margin-left: 50px;
					}
				}

			}

			a {
				color: $dark-blue;
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-size: 1em;
				font-weight: 600;
				display: block;

				@include tablet-landscape {
					font-size: 0.8125em;
				}

				@include desktop {
					font-size: 1em;
				}
			}
		}

		.social-nav {
			display: flex;
			padding: 40px 0 0 0;
			align-items: center;

			@include tablet-landscape {
				padding: 0;
			}

			.link {
				& + .link {
					margin-left: 20px;

					@include tablet-landscape {
						margin-left: 30px;
					}
				}
			}

			a {
				display: block;

				img {
					width: 100%;
					height: 100%;
					max-width: 24px;
					max-height: 24px;

					@include tablet-landscape {
						max-width: 36px;
						max-height: 36px;
					}
				}
			}
		}

		.copyright {
			padding: 50px 0 0 0;

			@include tablet-landscape {
				width: 100%;
				text-align: right;
			}

			p {
				font-size: 0.875em;
				line-height: 1.5em;

				a {
					font-weight: 600;
					text-decoration: underline;
				}
			}




		}
	}


	

}