body.page-template-franchise {

	section {
		.wrapper {
			max-width: 1160px;
		}
	}

	.headline {
		h3 {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 2em;
			padding: 0 0 30px 0;

			@include tablet-portrait {
				font-size: 3em;
			}
		}

		h4 {
			font-size: 1.375em;
			padding: 0 0 30px 0;

			@include tablet-portrait {
				font-size: 1.625em;
			}
		}
	}

	.copy {
		p {
			font-size: 1em;
			line-height: 1.6em;

			@include tablet-portrait {
				font-size: 1.25em;
			}

			& + p {
				padding-top: 40px;
			}
		}
	}

	.photo.shadow {
		img {
			box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
		}
	}
	
	section#page-header .promo {
		padding: 50px;
	}

	section#page-header .promo .promo-info h4 {
		font-family: $montserrat;
		font-weight: bold;
		text-transform: none;
		font-size: 1.25em;

		@include tablet-landscape {
			font-size: 1.5em;
		}
	}

	section#menu-subnav {
		display: none;

		@include tablet-portrait {
			display: block;
			position: sticky;
			top: 0;
			z-index: 10000;
		}
	}
	
	section#menu {
		background: $light-blue;
		color: $dark-blue;
		padding: 25px 0;

		@include tablet-portrait {
			padding: 50px 0;
		}

		.mobile-header {
			padding: 0 0 40px 0;

			@include tablet-portrait {
				display: none;
			}


			a.back {
				display: inline-block;
				margin-bottom: 20px;

				img {
					width: 100%;
					max-width: 40px;
				}
			}

			h1 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.75em;
			}
		}


		a {
			color: $dark-blue;
		}

		.jump-nav {
			padding: 0 0 25px 0;

			@include tablet-portrait {
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

			}

			h4 {
				opacity: 1;	
				width: 100%;
				padding: 16px 30px 14px 30px;
				border-radius: 20px;
				border-left: 1px solid rgba(255, 255, 255, 0.3);
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				border-right: 1px solid rgba(255, 255, 255, 0.3);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				position: relative;
				background: rgba(0, 0, 0, 0.05);

				&:after {
					content: "...";
				}

				&:before {
					content: "+";
					position: absolute;
					right: 30px;
					top: 8px;
					font-size: 2em;
				}

				&:hover {
					cursor: pointer;
				}

				@include tablet-portrait {
					text-align: center;
					padding: 0 0 20px 0;
					text-transform: uppercase;
					opacity: 0.6;
					border: none;
					background: none;
					box-shadow: none;

					&:before,
					&:after {
						display: none;
					}
				}
			}
		}

		.jump-nav-wrapper {
			display: none;

			&.modal {
				position: absolute;
				background: $white;
				width: 100%;
				z-index: 1000;
				padding: 25px;
				border-radius: 10px;
				top: 50%;

				@include tablet-portrait {
					position: static;
					background: transparent;
					border: none;
					box-shadow: none;
					width: auto;
					display: flex !important;
					flex-wrap: wrap;
					justify-content: center;
					background: #46bcd2;
					padding: 16px 30px 14px 30px;
					border-radius: 20px;
					border-left: 1px solid rgba(255, 255, 255, 0.3);
					border-top: 1px solid rgba(255, 255, 255, 0.3);
					border-right: 1px solid rgba(255, 255, 255, 0.3);
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				}

				.close {
					position: absolute;
					top: 25px;
					right: 25px;
					color: $light-blue;
					font-weight: bold;
					font-size: 2em;
					z-index: 10001;
				}

				.link {
					padding: 10px 0;

					@include tablet-portrait {
						padding: 5px 30px;
					}
				}
			}

			@include tablet-portrait {
				display: flex !important;
				flex-wrap: wrap;
				justify-content: center;
				background: #46bcd2;
				padding: 16px 30px 14px 30px;
				border-radius: 20px;
				border-left: 1px solid rgba(255, 255, 255, 0.3);
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				border-right: 1px solid rgba(255, 255, 255, 0.3);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

				.close {
					display: none;
				}
			}

			.link {
				@include tablet-portrait {
					text-align: center;
					padding: 5px 20px;
				}

				@include tablet-landscape {
					padding: 5px 30px;
				}

				a {
					font-size: 1.25em;
					font-weight: 600;

					@include tablet-portrait {
						font-size: 1em;
						font-weight: 500;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}

	section#our-story {
		background: $light-blue;


		.copy {
			max-width: 920px;
		}

		.photo {
			transform: translateY(120px);
			margin-top: -90px;

			@include tablet-portrait {
				transform: translateY(150px);
				margin-top: -90px;
			}

			img {
				margin: auto;
			}
		}
	}

	section#about {
		padding: 160px 0 50px 0;

		@include tablet-portrait {
			padding: 220px 0 100px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}

		.info {
			width: 100%;

			@include tablet-landscape {
				width: 60%;
				padding-right: 10%;
			}
		}

		.photo {
			width: 100%;
			padding-top: 30px;

			@include tablet-landscape {
				width: auto;
				flex: 1;
				padding-top: 0;
			}
		}


	}


	section#about-features {
		background-image: url(images/franchise-about-bg.jpg);
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0 150px 0;
		}


		&:before {
			content: '';
			display: block;
			width: 115px;
			height: 115px;
			background: url(images/flag-icon-white-circle.svg) no-repeat 0 0;
			background-size: 100%;
			margin: 0 auto;
			position: absolute;
			z-index: 100;
			top: -57px;
			left: 50%;
			transform: translateX(-57px);

		}

		.feature {
			& + .feature {
				padding-top: 50px;

				@include tablet-landscape {
					padding-top: 0;
				}
			}

			p {
				font-weight: bold;

				a {
					text-decoration: underline;
				}
			}
		}

		@include tablet-landscape {
			.wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.feature {
				width: 45%;
			}
		}

		.gallery {
			width: 100%;
			display: flex;
			justify-content: space-between;
			transform: translateY(60px);
			margin-top: -20px;

			@include tablet-portrait {
				transform: translateY(225px);
				margin-top: -90px;
			}

			.photo {
				width: 30%;
			}
		}
	}


	section#the-opportunity {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 220px 0 100px 0;
		}

		.copy {
			max-width: 920px;
		}

		.details {
			padding-top: 75px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.info {
				width: 100%;

				@include tablet-landscape {
					width: 60%;
					padding-right: 10%;
				}

				p {
					font-size: 1.125em;
					line-height: 1.4em;

					@include tablet-portrait {
					}

					& + p {
						padding: 40px 0 0 0;
					}
				}
			}

			.photo {
				width: 100%;
				padding-top: 30px;

				@include tablet-landscape {
					width: auto;
					flex: 1;
					padding-top: 0;
				}
			}
		}
	}

	section#revenue-streams {
		background: $light-blue;
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0 50px 0;
		}

		.headline {
			text-align: center;
			padding-bottom: 20px;

			h4 {
				text-transform: uppercase;

				@include tablet-landscape {
					font-size: 1.5em;
				}
			}
		}

		.features {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: center;

			.feature {
				width: 100%;

				& + .feature {
					padding-top: 50px;

					@include tablet-portrait {
						padding-top: 0;
					}
				}

				&:before {
					content: '';
					display: block;
					width: 25px;
					height: 25px;
					background: url(images/revenue-icon.png);
					background-size: 100%;
					margin: 0 auto 20px auto;

					@include tablet-landscape {
						width: 49px;
						height: 49px;
					}
				}

				@include tablet-portrait {
					width: calc(50% - 20px);
					padding-bottom: 50px;
				}

				@include tablet-landscape {
					width: calc(25% - 20px);
				}
				p {
					font-size: 1.125em;
					line-height: 1.25em;

					@include tablet-landscape {
						font-size: 1.25em
					}
				}
			}
		

		}
	}

	section#support {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0 50px 0;
		}

		.features {
			padding-top: 75px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.feature {
				padding-bottom: 50px;

				@include tablet-portrait {
					width: 40%;
					padding-bottom: 85px;
				}

				h4 {
					font-size: 1.25em;
					padding-bottom: 20px;

					@include tablet-landscape {
						font-size: 1.5em;
					}
				}

				p {
					font-size: 1em;
					font-weight: bold;
					line-height: 1.4em;

					@include tablet-landscape {
						font-size: 1.25em;
					}

				}
			}



		}

	}


	section#faqs {
		padding-bottom: 50px;

		@include tablet-landscape {
			padding-bottom: 150px;
		}

		.headline {
			h3 {
				text-transform: none;
			}
		}

		.copy {
			max-width: 920px;
		}

		.pdfs {
			.doc {
				width: 100%;

				@include tablet-landscape {
					width: 50%;
				}

				a {
					span {
						max-width: 100%;
					}
				}


			}
		}

		.faqs-list {
			padding-top: 50px;

			@include tablet-portrait {
				border-top: 1px solid $dark-blue;
			}

			.faq {
				padding: 0 0 0 50px;

				@include tablet-landscape {
					padding: 0 0 0 100px;
				}

				& + .faq {
					margin-top: 50px;

					@include tablet-landscape {
						margin-top: 75px;
					}
				}

				.question {
					h4 {
						font-size: 1.25em;

						@include tablet-landscape {
							font-size: 1.5em;
						}
					}

					&:before {
						content: '+';
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						left: -50px;
						top: 0;
						width: 30px;
						height: 30px;
						font-size: 1.25em;
						font-weight: bold;
						background: $dark-blue;
						color: $white;
						border-radius: 50%;

						@include tablet-landscape {
							left: -100px;
							top: -15px;
							width: 60px;
							height: 60px;
							font-size: 2em;
						}

					}

					&.open:before {
						content: '-';
						background: $green;
					}

					&:hover {
						cursor: pointer;
					}

				}

				.answer {
					display: none;
					padding: 20px 0 0 0;

					p {
						margin: 0;
						max-width: 720px;
						font-size: 1.125em;
						line-height: 1.6em;

						@include tablet-landscape {
							font-size: 1em;
							line-height: 1.6em;
						}


						& + p {
							margin-top: 20px;
						}
					}
				}
			}



		}
	}


	section#get-started {
		padding: 50px 0;
		background: $light-blue;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.headline {
			text-align: center;
			text-transform: uppercase;

			@include tablet-landscape {
				h3 {
					font-size: 1.875em;
				}
			}
		}

		.copy {
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 50px;
		}

		.contact-form {
			max-width: 580px;
			margin: 0 auto;

			.nf-form-fields-required {
				display: none;
			}

			.nf-field-label {
				label {
					font-weight: normal;
					color: #6b645a;
					font-size: 0.75em;
				}
			}

			.nf-field-element {
				input, select, textarea {
					border: none;

					&:focus,
					&:active {
						outline: none;
					}	
				}

				input,
				textarea {
					padding: 15px 10px;
				}

				select {
					height: 49px;
				}
			}

			.width-50 {
				@include tablet-portrait {
					width: calc(50% - 20px);
					float: left;
					clear: none;

					&.clear {
						clear: both;
						width: 100%;

						.nf-field {
							width: calc(50% - 20px);
						}
					}

					&-right {
						float: right;
					}

					&.state {
						padding-top: 16px;
					}
				}
			}

			.submit-container {
				.nf-field-element {
					padding-left: 24px;
					@include flag-input;					
				}

				input {
					background: $dark-blue;
					color: $white;
					border: none;
					border-radius: 0;
					display: inline-block;
					padding: 18px 20px 16px 20px;
					text-transform: uppercase;
					letter-spacing: 0.04em;
					font-weight: 600;
					font-size: 0.875em;
					position: relative;	
					
					&:focus,
					&:active {
						outline: none;
					}			
				}
			}
		}

		.disclosures {
			padding-top: 50px;
			margin: 0 auto;
			max-width: 580px;

			p {
				font-size: 0.8125em;
				line-height: 1.75em;
				font-style: italic;
			}
		}
	}


}