header {
	padding: 20px 0 50px 0;

	@include tablet-landscape {
		padding: 45px 0 50px 0;
	}

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include tablet-landscape {
			align-items: flex-start;
		}
	}

	.logo {
		width: 100%;
		max-width: 125px;

		@include tablet-landscape {
			max-width: 192px;
		}

		a {
			display: block;


			span.mobile {
				display: none;
			}

			img {
				width: 100%;
				max-width: 125px;

				@include tablet-landscape {
					max-width: 192px;
				}
			}
		}
	}

	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;
	    margin-left: auto;
	    margin-right: 80px;
	    text-align: right;

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 24px;
		    height: 3px;
		    background: $dark-blue;
		    border-radius: 3px;
		    transition: all 0.3s;
		    transform: translateX(17px);


			&:after, &:before {
			    content: '';
			    display: block;
			    height: 3px;
			    background: $dark-blue;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 3px;

			}
			&:before {
			    top: -8px;
			    width: 36px;
			    transform: translateX(-12px);
			}
			&:after {
			    top: 8px;
			    width: 29px;
			    transform: translateX(-5px);
			}
		}
	}

	&.open {
		.logo,
		.order-online {
			z-index: 10001;
		}

		.logo {
			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}

		#toggle {

			.patty {
				background: none;

				&:after {
				    top: 0;
				    transform: rotate(45deg);
				    width: 36px;
				    background: $white;
				}
				&:before {
					width: 36px;
				    top: 0;
				    transform: rotate(-45deg);
				    background: $white;
				}
			}
		}
	}

	nav {
		display: none;

		@include tablet-portrait {
			display: block;

			.nav-wrapper {
				display: flex;

				.link {
					padding: 0 10px;
				}

				a {
					color: $brown;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-weight: 600;
					font-size: 0.875em;
					

					&:after {
						content: '';
						display: block;
						width: 100%;
						height: 6px;
						background: $light-blue;
						top: -6px;
						position: relative;
						z-index: -1;
						opacity: 0;	
						transition: opacity 0.2s ease-in;
					}

					&:hover {
						&:after {
							opacity: 0.5;
						}
					}
				}
			}
		}

		@include tablet-landscape {
			.nav-wrapper {

				.link {
					padding: 0 20px;
				}

				a {
					font-size: 0.9375em;
					letter-spacing: 0.05em;
				}
			}
		}

		&.open {
			display: flex;
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			background: $dark-blue;
			color: $white;
			justify-content: center;
			align-items: center;
			z-index: 1000;

			.nav-wrapper {
				text-align: center;

				.link {
					padding: 20px 0;
				}

				a {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-size: 1.5em;
					font-weight: 600;
					display: block;
				}

			}
		}
	}

	.order-online {
		position: fixed;
		top: 30px;
		right: 25px;
		z-index: 10000;

		@include tablet-portrait {
			position: static;
		}

		@include tablet-landscape {
			transform: translateY(-45px);
		}

		a {
			background: $light-blue;
			width: 60px;
			height: 60px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			border-radius: 50%;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

			@include tablet-portrait {
				border-radius: 0;
				box-shadow: none;
				width: 245px;
				height: auto;
				flex-direction: row;
				padding: 15px 15px 14px 15px;
			}

			@include tablet-landscape {
				padding: 20px 30px;
			}

			@include desktop {
				padding: 25px 40px;
			}

			.icon {
				order: 2;
				width: 100%;
				max-width: 16px;
				display: block;
				
				@include tablet-landscape {
					max-width: 24px;
				}

				@include desktop {
					max-width: 32px;
				}

				@include tablet-portrait {
					order: 1;
					padding: 0 15px 0 0;
				}

				img {
					width: 100%;
					max-width: 16px;

					@include tablet-landscape {
						max-width: 24px;
					}

					@include desktop {
						max-width: 32px;
					}
				}
			}

			.label {
				width: 100%;
				order: 1;
				display: block;

				@include tablet-portrait {
					width: auto;
					order: 2;
				}

				.mobile {
					display: block;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 600;
					font-size: 0.612575em;
					text-align: center;
					padding: 0 0 5px 0;

					@include tablet-portrait {
						display: none;
					}
				}

				.desktop {
					display: none;
					
					@include tablet-portrait {
						display: block;
						text-transform: uppercase;
						font-size: 0.75em;
						font-weight: 600;
						letter-spacing: 0.02em;
					}

					@include tablet-landscape {
						font-size: 0.875em;
						padding-top: 5px;
					}

					@include desktop {
						font-size: 1em;
					}
				}

			}
		}
	}



}


body.page-template-menu-index .nav-wrapper .link.menu,
body.page-template-menu .nav-wrapper .link.menu,
body.page-template-locations .nav-wrapper .link.locations,
body.page-template-catering .nav-wrapper .link.catering,
body.page-template-franchise .nav-wrapper .link.franchise {

	@include tablet-portrait {
		a:after {
			content: '';
			display: block;
			width: 100%;
			height: 6px;
			background: $light-blue;
			top: -6px;
			position: relative;
			z-index: -1;
			opacity: 0.5;	
		}
	}

}