body.home {

	.next-prev {
		opacity: 0;
	}

	.slideshow {
		background: url(images/green-mountains.svg) repeat-x bottom 150px center;
		background-size: 75%;
		z-index: 100;

		@include tablet-portrait {
			background-size: 120%;
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 170px;
			background: $light-blue;
			mix-blend-mode: multiply;
			z-index: -1;
			bottom: 0px;
			position: absolute;

		}

		.slide-wrapper {
			z-index: 10;
			padding: 0 0 50px 0;

			&:focus,
			&:active {
				outline: none;
			}
		}

		.slick-dots {
			bottom: 20px;
			z-index: 1000;
			display: flex;
			justify-content: center;
			align-items: center;

			.next-prev {
				opacity: 1;
				display: block;
				width: 12px;
				height: 12px;
				background-size: 12px 12px;
				background-repeat: no-repeat;
				background-position: center center;

				&#slide-prev {
					background-image: url(images/prev.svg);
					transform: translate(-10px, -1px);
				}

				&#slide-next {
					background-image: url(images/next.svg);
					transform: translate(10px, -1px);
				}
			}


			@include tablet-portrait {
				transform: rotate(90deg);
				bottom: auto;
				top: 180px;
				width: auto;
				left: 2%;
			}

			@include tablet-landscape{
				top: 210px;
				left: 5%;
			}

			@include desktop {
				top: 240px;
				left: 5%;
			}

			@media screen and (min-width: 1400px) {
				left: 7.5%;
			}

			@media screen and (min-width: 1600px) {
				left: 10%;
			}

			@media screen and (min-width: 1920px) {
				left: 15%;
			}
		}
	}

	section.banner {
		padding: 0 0 50px 0;
		min-height: 165px;



		.wrapper {
			@include tablet-portrait {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.label {
					padding: 0;
					width: 30%;
				}

				.info {
					width: 70%;

				}
			}
		}
		
		.label {
			padding: 0 0 25px 0;

			h5 {
				text-transform: uppercase;
				color: $brown;
				letter-spacing: 0.05em;
				font-weight: 400;
				display: flex;
				font-size: 0.8125em;
				line-height: 1.25em;
				font-family: $biondi;


				@include desktop {
					font-size: 0.9375em;
				}

				&:before {
					content: '';
					display: inline-block;
					background: url(images/green-dot.svg) no-repeat 0 0;
					background-size: 100%;
					width: 16px;
					height: 16px;
					margin: 0 10px 0 0;
					transform: translateY(3px);

					@include tablet-portrait {
						width: 24px;
						height: 24px;
						margin: 0 20px 0 0;
					}

					@include desktop {
						width: 32px;
						height: 32px;
						margin: 0 40px 0 0;
					}
				}
				br {
					display: none;

					@include tablet-portrait {
						display: block;
					}
				}
			}
		}

		.info {
			.headline {
				h1 {
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-weight: 700;
					font-size: 1.5em;
					line-height: 1.125em;

					@include tablet-landscape {
						font-size: 2em;
					}

					@include desktop {
						font-size: 2.75em;
					}

					em {
						font-style: normal;
						color: $green;
					}
				}
			}

			.subheadline {
				padding: 20px 0 0 0;

				h2 {
					font-weight: 400;
					font-size: 0.875em;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					@include tablet-landscape {
						font-size: 1em;
					}

					strong {
						font-weight: 600;
					}
				}
			}
		}
	}


	section.hero {

		.flag-btn {
			position: absolute;
			right: 6.25%;
			top: -24px;
			z-index: 101;

			@include tablet-portrait {
				top: -34px;
				right: 11.8%;
			}
		}

		.slide {
			position: relative;
			box-shadow: 0px 20px 74px -21px rgba(0,0,0,0.58); 


			@include tablet-portrait {
				max-width: 80%;
				margin: 0 auto;
			}

			&:active,
			&:focus {
				outline: none;
			}

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 50;
				background: linear-gradient(rgba(0,0,0,0) 70%, rgba(0,0,0,1));
			}

			.photo {
				img {
					width: 100%;
					object-fit: cover;
				}
			}


			.info {
				position: absolute;
				z-index: 100;
				left: 0;
				bottom: 0;
				padding: 15px 20px;

				@include tablet-portrait {
					padding: 50px 75px;
				}

				h3 {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-size: 0.875em;
				}

				h4 {
					color: $white;
					display: none;

					@include tablet-portrait {
						display: block;
						font-weight: 400;
						padding: 5px 0 0 0;
						font-size: 0.875em;
					}
				}
			}
		}
	}


	section#email-sign-up {
		background: $light-blue;

		@include tablet-landscape {
			padding: 0px 0 50px 0;
		}



		.wrapper {
			@include tablet-portrait {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;

				.info {
					width: 50%;
				}

				.photo {
					width: 50%;
					order: -1;
				}
			}

			@include tablet-landscape {
				align-items: center;

				.info {
					width: 35%;
				}

				.photo {
					width: 60%;
				}	
			}
		}

		.info {

			@include tablet-portrait {
				padding: 50px 0 0 0;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: 700;
				font-size: 1.5em;
				line-height: 1.125em;
				padding: 0 0 10px 0;

				@include tablet-landscape {
					font-size: 1.75em;
					letter-spacing: 0.05em;
				}
			}

			p {
				font-size: 0.875em;
				line-height: 1.25em;

				@include tablet-landscape {
					font-size: 1.125em;
					line-height: 1.5em;
				}
			}

			.form {
				padding: 25px 0 0 0;

				.nf-form-fields-required,
				.nf-error-field-errors {
					display: none;
				}

				.label-above .nf-field-label {
					margin-bottom: 5px;
				}

				.nf-field-container {
					margin-bottom: 20px;
				}

				label {
					font-weight: 400;
					font-size: 0.875em;
					padding: 0;
					margin: 0;
					color: $brown;
				}

				.nf-field-element select option {
					padding: 5px 0;
				}

				.nf-field-element input {
					padding: 10px;

					&[type="text"],
					&[type="email"],
					&[type="zip"] {
						border: none;
					}
				}

				.nf-error-msg {
					font-size: 0.75em;
					font-weight: 600;
				}

				.submit-wrap {
					padding: 25px 0;
				}

				.submit-wrap .nf-field-element {
					padding-left: 24px;
					@include flag-input;				
				}

				.submit-wrap input[type=submit] {
					background: $dark-blue;
					color: $white;
					border: none;
					border-radius: 0;
					display: inline-block;
					padding: 18px 20px 16px 20px;
					text-transform: uppercase;
					letter-spacing: 0.04em;
					font-weight: 600;
					font-size: 0.875em;
					position: relative;
				}

				input:-webkit-autofill {
				    -webkit-box-shadow: 0 0 0 30px white inset;
				}

			}

			.notice {
				p {
					font-size: 0.75em;
					line-height: 1.5em;

				}
			}

		}

		.photo {

			img {
				z-index: 100;
				position: relative;
				transform: translate(0, 75px);



				@include tablet-portrait {
					transform: translate(-50px, 100px);
				}

				@include tablet-landscape {
					transform: translate(-50px, 125px);

				}
			}



		}
	}


	section#our-story {
		padding: 100px 0;

		@include tablet-portrait {
			padding: 150px 0;
		}

		.info {

			.green-dots {
				@include tablet-portrait {
					transform: translateX(-100px);
				}
			}

			@include tablet-portrait {
				max-width:  960px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 2em;
				font-weight: 900;
				letter-spacing: 0.02em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 4.5em;
				}
			}

			p {
				padding: 25px 0 50px 0;
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.25em;
					max-width: 640px;
					padding: 25px 0 100px 0;
				}
			}
		}
	}


	section#franchise {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;

			.wrapper {
				display: flex;
				justify-content: space-between;

				.info {
					width: 60%;
				}

				.gallery {
					width: 30%;
				}
			}
		}

		.info {

			.green-dots {
				padding: 0 0 50px 0;

				@include tablet-landscape {
					transform: translateX(-100px);
				}
			}

			@include tablet-portrait {
				max-width:  960px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 2em;
				font-weight: 700;
				letter-spacing: 0.02em;
				line-height: 1.25em;

				@include tablet-landscape {
					font-size: 3.5em;
					max-width: 420px;
				}
			}

			p {
				padding: 25px 0 50px 0;
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-landscape {
					font-size: 1.25em;
					max-width: 640px;
					padding: 25px 0 100px 0;
				}
			}
		}

		.gallery {
			padding: 50px 0 0 0;

			.photo {

				& + .photo {
					margin-top: 10px;
				}

				img {
					margin: 0 auto;
				}
			}
		}
	}


}