body.page-template-locations {
    footer {
        padding-top: 0;
    }

    section#page-header {
        padding: 50px 0 25px 0;

        .promo {
            display: none;

            @include tablet-portrait {
                display: block;
            }
        }

        @include tablet-portrait {
            padding: 50px 0 50px 0;

            .promo {
                padding: 0;
                background: none;

                &:before {
                    display: none;
                }

                &-info {
                    position: absolute;
                    top: 0;
                    right: -25px;
                    width: 100%;
                    z-index: 150;
                    padding: 25px;

                    h4 {
                        font-size: 0.8125em;
                    }

                    a {
                        line-height: 1.5em;
                        font-size: 0.75em;
                        display: inline-block;
                        font-family: $montserrat;
                    }
                }

                .communities {
                    padding: 650px 0 0 0;

                    a {
                        display: flex;
                        font-family: $montserrat;
                        line-height: 1.5em;

                        &:before {
                            display: block;
                            width: 23px;
                            height: 35px;
                            background: url(images/pin.png) no-repeat 0 0;
                            content: '';
                            margin-right: 10px;
                        }

                        span {
                            flex: 1;
                        }
                    }
                }
            }
        }

        @include tablet-landscape {
            .promo {
                &-info {
                    padding: 40px;
                }

                .communities {
                    padding: 650px 0 0 0;
                }
            }
        }

        @include desktop {
            .promo {
                h4,
                a {
                    max-width: 240px;
                }

                .communities {
                    padding: 650px 0 0 0;
                }
            }
        }
    }

    section.mobile-promo {
        width: 100%;
        background: url(images/general-promo-green-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 50px 25px;
        margin-top: 50px;

        @include tablet-portrait {
            display: none;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: url(images/white-mountains.svg) repeat-x bottom -20px center;
            background-size: 125%;
        }

        .promo {
            background: none;
        }

        .promo-info {
            background: none;

            h4 {
                text-transform: uppercase;
                letter-spacing: 0.02em;
                font-weight: 400;
                font-size: 1em;
                line-height: 1.25em;
                padding: 0 0 20px 0;
                font-family: $biondi;
            }

            a {
                text-transform: uppercase;
                font-size: 0.75em;
                line-height: 1.375em;
                letter-spacing: 0.05em;
                font-weight: 600;
                text-decoration: underline;
                font-family: $montserrat;
            }

            .communities {
                padding-top: 25px;
            }
        }
    }

    section#map-view {
        background: $light-blue;

        .zip-code-filter {
            padding: 25px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;

            @include tablet-portrait {
                padding: 0 0 25px 50px;
            }

            label {
                display: block;
                padding: 0 0 10px 0;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 0.75em;
                font-weight: 600;
                width: 100%;
            }

            .input {
                input[type='text'] {
                    border: none;
                    padding: 5px 10px;
                    height: 40px;
                    font-size: 0.9375em;
                    color: $brown;
                    min-width: 240px;

                    &:active,
                    &:focus {
                        outline: none;
                    }

                    @include placeholder {
                        color: $brown;
                    }
                }
            }

            .submit {
                input[type='submit'] {
                    border: none;
                    background: $brown;
                    color: $white;
                    height: 40px;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    letter-spacing: 0.02em;
                    font-size: 0.875em;
                    font-weight: 500;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        @include tablet-portrait {
            padding: 50px 0;
        }

        .no-results {
            padding: 0 0 25px 0;
            margin: 0 25px;

            @include tablet-portrait {
                margin: -15px 0 0 50px;
            }

            h3 {
                background: $green;
                color: $white;
                display: inline-block;
                padding: 15px 20px;
                border-radius: 10px;
                font-size: 0.875em;
                line-height: 1.25em;

                @include tablet-portrait {
                    padding: 10px 15px;
                }
            }
        }

        .wrapper {
            padding: 0;

            @include tablet-portrait {
                padding: 0 25px;

                #response {
                    height: 500px;
                }
            }

            @media screen and (min-width: 1450px) {
                padding: 0;
            }
        }

        .map-view-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            z-index: 200;

            @include tablet-portrait {
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
            }

            .acf-map {
                width: 100%;
                display: none;

                @include tablet-portrait {
                    width: 50%;
                    display: block;
                }

                @include tablet-landscape {
                    width: 75%;
                }

                img[alt='Google'] {
                    top: 490px !important;
                    left: 10px !important;
                }

                .gmnoprint,
                .gm-style-cc {
                    bottom: unset !important;
                    top: 486px !important;
                }
            }

            .sidebar {
                width: 100%;
                background: $white;
                padding: 25px;

                @include tablet-portrait {
                    width: 50%;
                    padding: 40px;
                    max-height: 500px;
                    overflow: scroll;
                }

                @include tablet-landscape {
                    width: 25%;
                }

                .store {
                    & + .store {
                        margin: 25px 0 0 0;
                        border-top: 1px solid #d2d2d2;
                        padding: 25px 0 0 0;
                    }

                    h5 {
                        font-size: 1.125em;
                        padding: 0 0 5px 0;
                    }

                    .contact {
                        p {
                            font-size: 0.8125em;
                            line-height: 1.25em;
                            color: $brown;
                            font-weight: 600;
                        }
                    }

                    .links {
                        display: flex;
                        padding: 25px 0 0 0;

                        .details,
                        .directions {
                            width: 50%;

                            a {
                                font-size: 0.75em;
                                text-transform: uppercase;
                                letter-spacing: 0.1em;
                                font-weight: 600;
                                display: inline-block;
                                border-bottom: 1px solid #c1ced3;
                            }
                        }
                    }
                }
            }
        }
    }

    section#list-view {
        padding-top: 50px;

        @include tablet-landscape {
            padding-top: 100px;
        }

        .wrapper {
            max-width: 1080px;
        }

        .info {
            padding: 0 0 100px 0;

            @include tablet-landscape {
                padding: 0 0 150px 0;
            }

            .green-dots {
                padding: 0 0 25px 0;

                @include tablet-landscape {
                    transform: translateX(-50px);
                }
            }

            h2 {
                text-transform: uppercase;
                font-size: 2em;
                font-weight: 700;
                letter-spacing: 0.02em;
                line-height: 1.25em;

                @include tablet-landscape {
                    font-size: 3.5em;
                }
            }
        }

        .stores {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .store {
                width: 100%;
                margin-bottom: 100px;

                @include tablet-portrait {
                    width: 45%;
                }

                @include tablet-landscape {
                    width: 47.5%;
                }

                .header {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0 20px 0;
                    border-bottom: 2px solid #d4d4d4;

                    h3 {
                        color: $black;
                        font-size: 1.25em;

                        @include tablet-landscape {
                            font-size: 1.5em;
                        }
                    }

                    .twitter {
                        a {
                            max-width: 24px;
                            display: block;

                            @include tablet-portrait {
                                max-width: 32px;
                            }

                            img {
                                width: 100%;
                            }
                        }
                    }

                    p.address {
                        padding: 10px 0 0 0;
                        width: 100%;
                        color: $brown;
                        font-size: 0.875em;
                        line-height: 1.25em;
                        font-weight: 600;

                        br {
                            display: none;
                        }
                    }
                }

                .contact {
                    padding: 20px 0 40px 0;

                    @include tablet-landscape {
                        padding: 20px 0 60px 0;
                    }

                    p {
                        color: $brown;
                        font-size: 0.875em;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        width: 100%;

                        & + p {
                            margin-top: 20px;
                        }

                        &:before {
                            display: block;
                            content: '';
                            width: 24px;
                            height: 24px;
                            margin: 0 10px 0 0;
                        }

                        &.hours {
                            &:before {
                                background: url(images/clock-icon.svg) no-repeat 0 0;
                            }
                        }

                        &.phone {
                            &:before {
                                background: url(images/phone-icon.svg) no-repeat 0 0;
                            }
                        }
                    }
                }

                .photo {
                    .order {
                        position: absolute;
                        top: -24px;
                        right: 0;

                        @include tablet-portrait {
                            a.flag-btn {
                                padding: 18px 20px 16px 20px;
                                margin-left: 20px;

                                &:before {
                                    left: -24px;
                                    height: 48px;
                                    width: 24px;
                                }
                            }
                        }
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
