body.page-template-menu-index {

	section#page-header {

		.wrapper {
			padding: 0;

			@include tablet-portrait {
				padding: 0 25px;
			}

			@media screen and (min-width: 1450px) {
				padding: 0;
			}

			h1, h2, .copy {
				padding: 0 25px;
				transition: padding 0.2s ease-in;
				
				@include tablet-portrait {
					padding: 0;
				}

			}
		}

		.promo:before {
			background: url(images/white-mountains.svg) repeat-x bottom -50px center;

			@include tablet-portrait {
				background-position: bottom -25px center;
			}
		}
	}

	.mobile-header {
		display: none;
	}

	#ajax {
		display: none;
		@include tablet-portrait {
			background: $light-blue;
			min-height: 100vh;
			display: block;
		}
	}


	section.mobile-pdfs {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			display: none;
		}

		.pdfs {
			display: block;
		}
	}

	section#menu {
		display: none;
		background: $light-blue;
		padding-top: 50px;

		@include tablet-portrait {
			display: block;

			.jump-nav {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				h4 {
					opacity: 0.6;
					width: 100%;
					border-radius: 20px;
					text-align: center;
					padding: 0 0 20px 0;
					text-transform: uppercase;
					border: none;
					background: none;
					box-shadow: none;
					position: relative;

				}
			}

			.jump-nav-wrapper {
				display: flex !important;
				flex-wrap: wrap;
				justify-content: center;
				background: #46bcd2;
				padding: 16px 30px 14px 30px;
				border-radius: 20px;
				border-left: 1px solid rgba(255, 255, 255, 0.3);
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				border-right: 1px solid rgba(255, 255, 255, 0.3);
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

				.close {
					display: none;
				}
			}

			.link {
				text-align: center;
				padding: 5px 20px;

				a {
					font-size: 1em;
					font-weight: 500;


					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	section.menu-section {
		padding: 50px 0;

		.header {
			width: 100%;
			text-align: center;
			padding: 0 0 70px 0;

			h4 {
				color: $white;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 1.125em;

				@include tablet-portrait {
					font-size: 1.25em;
				}

				span {
					background: $light-blue;
					position: relative;
					z-index: 10;
					padding: 0 30px;
				}

				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: $white;
					top: -20px;
					position: relative;
					z-index: 5;

					@include tablet-portrait {
						top: 12px;
					}
				}
			}
		}

		&.items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			.food-items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
			}

			article {
				width: 100%;
				margin: 0 0 25px 0;

				@include mobile-landscape {
					width: 47.5%;
					margin: 0 1.25% 25px 1.25%;
				}

				@include tablet-portrait {
					width: 27.3333%;
					margin: 0 2.25% 50px 2.25%;
				}

				.headline {
					padding: 0 0 20px 0;
					height: 32px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					h3 {
						font-size: 1.375em;
					}

					.try-it-toasted {
						width: 100%;
						max-width: 48px;
						img {
							width: 100%;
							max-width: 48px;
							max-height: 32px;
						}
					}
				}

				.photo {
					img {
						box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
					}
				}

				.info {
					padding: 30px 0 0 0;

					p {
						font-size: 1.125em;
						line-height: 1.375em;

						@include tablet-portrait {
							font-size: 0.875em;
						}

						@include tablet-landscape {
							font-size: 1.125em;
						}
					}

					.view-link {
						display: inline-block;
						margin-top: 20px;
						font-size: 0.8125em;
						text-decoration: underline;
					}


					.nutrition-info {
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						display: none;
						justify-content: center;
						align-items: center;
						z-index: 100;
						padding: 0 25px;

						&.show {
							display: flex;
						}

						.overlay-wrapper {
							width: 100%;
							max-width: 695px;
							padding: 25px;
							background: $white;
							border-radius: 10px;
							box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);

							@include tablet-portrait {
								padding: 50px 85px;
							}

							.close.x {
								position: absolute;
								top: 20px;
								right: 20px;
								color: $light-blue;
								font-weight: 400;
								font-size: 1.75em;

								@include tablet-portrait {
									top: 30px;
									right: 40px;
									font-size: 2em;
								}
							}

							h3 {
								font-size: 1.75em;
								padding: 0 0 20px 0;
							}

							h4 {
								text-transform: uppercase;
								letter-spacing: 0.1em;
								font-size: 0.875em;
								padding: 0 0 30px 0;
							}

							.row {
								display: flex;
								justify-content: space-between;
								padding: 10px 0 0 0;
								border-bottom: 1px solid rgba(8, 60, 79, 0.25);

								.key, .value {
									span {
										font-size: 0.875em;
									}
								}

								&.calories {
									border-bottom: 1px solid rgba(8, 60, 79, 0.5);

									.key, .value {
										span {
											font-size: 1.25em;
											font-weight: bold;
										}
									}
								}
							}

							.footer {
								padding: 50px 0 0 0;
								display: flex;
								justify-content: space-between;
							}

							.contains {
								max-width: 50%;
								h5 {
									font-size: 1.125em;
									padding: 0 0 5px 0;
								}

								p {
									font-size: 0.875em;
									font-weight: 600;
								}
							}

							.got-it {
								a {
									color: $white;
									padding: 18px 20px 16px 20px;

									@include tablet-portrait {
										padding: 25px 30px 23px 30px;
										font-size: 1.25em;
									}
								}
							}


						}
					}
				}
			}
		}


		&.overview {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.photo {
				width: 100%;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					width: 47.5%;
				}
			}

			.info {
				width: 100%;

				@include tablet-portrait {
					width: 47.5%;
				}

				h4 {
					font-size: 1.125em;
					padding: 0 0 5px 0;
				}

				p {
					font-size: 1.125em;
					line-height: 1.375em;
					padding-bottom: 30px;

					@include tablet-portrait {
						font-size: 0.875em;
					}

					@include tablet-landscape {
						font-size: 1.125em;
					}

				}

			}
		}
	}

}