body.page-template-our-story {

	section#page-header {
		.promo {
			background-position: top right;
			display: none;

			@include tablet-portrait {
				height: 500px;
				display: block;
			}

			@include tablet-landscape {
				padding: 50px;
			}

		}
	}


	section#mission {

		.photo {
			max-width: 960px;
			transform: translateY(-50px);
			margin: 100px auto -50px auto;
			box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
			z-index: 1000;

			@include tablet-portrait {
				transform: translateY(-200px);
				margin: 0 auto -200px auto;
			}
		}

		.info {
			text-align: center;
			max-width: 960px;
			margin: 0 auto;
			padding: 50px 0;

			@include tablet-portrait {
				padding: 100px 0;
			}

			h3 {
				text-transform: uppercase;
				font-size: 1.75em;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					font-size: 2em;
					padding: 0 0 50px 0;
				}
			}

			p {
				font-size: 1.125em;
				line-height: 1.6em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}
	}

	section.mobile-promo {
		width: 100%;
		background: url(images/general-promo-green-bg.jpg) no-repeat top center;
		background-size: cover;
		padding: 50px 25px;

		@include tablet-portrait {
			display: none;
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: url(images/white-mountains.svg) repeat-x bottom -20px center;
			background-size: 125%;
		}

		.promo {
			background: none;
		}

		.promo-info {
			background: none;

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: 400;
				font-size: 1em;
				line-height: 1.25em;
				padding: 0 0 20px 0;
				font-family: $biondi;

			}

			a {
				text-transform: uppercase;
				font-size: 0.75em;
				line-height: 1.375em;
				letter-spacing: 0.05em;
				font-weight: 600;
				text-decoration: underline;
				font-family: $montserrat;

			}

			.communities {
				padding-top: 25px;
			}
		}

	}


	section#name {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.info {

			.green-dots {
				padding: 0 0 50px 0;

				@include tablet-landscape {
					transform: translateX(-100px);
				}
			}

			@include tablet-portrait {
				max-width:  720px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 2em;
				font-weight: 700;
				letter-spacing: 0.02em;
				line-height: 1.25em;

				@include tablet-landscape {
					font-size: 3.5em;
					max-width: 640px;
				}
			}

			p {
				padding: 25px 0 50px 0;
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-landscape {
					font-size: 1.25em;
					max-width: 720px;
					padding: 25px 0 100px 0;
				}
			}
		}
	}


	section#sandwich {

		.header {
			text-align: center;
			max-width: 720px;
			margin: 0 auto;
			padding: 0 0 50px 0;

			h4 {
				text-transform: uppercase;
				font-size: 1.5em;
				line-height: 1.25em;
				max-width: 420px;
				margin: 0 auto;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}

			p {
				line-height: 1.6em;
				font-size: 1.125em;

			}

		}

		.stack {

			.layer {
				z-index: 10;

				& + .layer {
					margin-top: 20px;
				}

				.info {
					display: none;

					&.modal {
						position: absolute;
						background: $white;
						width: 100%;
						z-index: 1000;
						padding: 75px 50px;
						border-radius: 10px;
						top: 50%;
						box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
					}

					h5 {
						text-transform: uppercase;
						font-size: 1.125em;
						line-height: 1.25em;
						font-weight: 600;
						letter-spacing: 0.1em;
						padding: 0 0 20px 0;
					}

					p {
						font-size: 0.8125em;
						line-height: 1.375em;
						font-weight: 500;
					}

					.close {
						position: absolute;
						top: 25px;
						right: 25px;
						color: $light-blue;
						font-weight: bold;
						font-size: 2em;
						z-index: 10001;

						@include tablet-portrait {
							display: none;
						}
					}

				}

				.photo {
					z-index: 1;

					.dot {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background: $light-blue;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 150;
						border: 5px solid $green;

						&:hover {
							cursor: pointer;
						}

						@include tablet-portrait {
							display: none;
						}
					}
				}

				@include tablet-portrait {
					display: flex;
					align-items: center;

					.info {
						display: block !important;
						flex: 1;
						max-width: 400px;
						padding: 0 40px 0 0;

						h5 {
							padding: 0 0 20px 0;
						}

						p {
							padding: 20px 0 0 0;
						}

						.line-wrapper {
							.line {
								width: 150%;
								height: 5px;
								background: $green;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 100;
							}

							.dot {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								background: $light-blue;
								position: absolute;
								top: -24px;
								z-index: 150;
								right: -50%;
								border: 5px solid $green;
							}
						}
					}

					.photo {
						max-width: 720px;
						margin: 0 auto 0 0;
					}

					.gutter {
						flex: 1;
					}

					&:nth-child(even) {
						.gutter{
							order: 1;
						}

						.photo {
							order: 2;
							margin: 0 0 0 auto;
						}

						.info {
							order: 3;
							padding: 0 0 0 40px;

							.line-wrapper {
								.line {
									left: auto;
									right: 0;
								}

								.dot {
									right: auto;
									left: -50%;
								}
							}
						}

					}
				}
			}
		}
	}
}