body.page-template-default {

	section#page-header {
		h1 {
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-weight: 700;
			font-size: 1.5em;
			line-height: 1.25em;
			margin: 0 0 20px 0;
			max-width: 800px;
			color: $dark-blue;
			font-family: $montserrat;

			@include tablet-landscape {
				font-size: 2em;
				margin-bottom: 50px;
			}

			@include desktop {
				font-size: 2.75em;
			}
		}		
	}

	section.generic {

		.wrapper {
			max-width: 800px;
		}

		h2 {
			padding-bottom: 20px;
		}

		h3 {
			padding-bottom: 10px;
		}

		p {
			font-size: 1em;
			line-height: 1.5em;
			padding-bottom: 40px;
		}

		li {
			font-size: 0.9375em;
			line-height: 1.5em;

			& + li {
				padding-top: 15px;
			}
		}

		ul, ol {
			padding-bottom: 60px;
			margin-left: 40px;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}
	}
}