body.page-template-philanthropy {
	
	section#page-header {
		h2 {
			@include tablet-landscape {
				font-size: 2.75em;
			}
		}
		.promo {
			z-index: 100;

			.promo-info {
				@include tablet-portrait {
					padding: 20px 0;
				}
			}
		}
	}

	section#causes {
		padding: 50px 0;
		background: $light-blue;
		margin-top: -25px;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 640px;
		}

		.copy {
			h3 {
				padding-bottom: 40px;
				font-size: 2em;

			}

			ul {
				list-style-type: disc;
				margin: 0 0 0 40px;
				padding: 0;

				li {
					font-size: 1.125em;
					line-height: 1.25em;

					& + li {
						padding-top: 20px;
					}
				}
			}

			p {
				padding-top: 40px;
				font-size: 1.125em;
				line-height: 1.75em;
			}
		}

		.alm-listing {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.cause {
				width: 100%;
				margin-bottom: 75px;

				@include tablet-portrait {
					width: 45%;
					margin-bottom: 150px;
				}

				.headline {
					h4 {
						font-size: 1.375em;
						line-height: 1.125em;
						padding: 0 0 25px 0;
						font-weight: bold;

						@include tablet-portrait {
							font-size: 1.6125em;
						}

						a {
							text-decoration: underline;
						}
					}
				}

				.copy {
					h5 {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1.125em;
						letter-spacing: 0.05em;
						padding-bottom: 15px;

						@include tablet-portrait {
							font-size: 1.25em;
						}
					}

					p {
						font-size: 1.125em;
						line-height: 1.6em;

						@include tablet-portrait {
							font-size: 1.25em;
						}
					}
				}
			}
		}

		.alm-btn-wrap {
			display: flex;
			justify-content: center;

			.alm-load-more-btn {
				background: transparent;
				border: none;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid #42a6bc;
				padding: 0 0 3px 0;

				&:active,
				&:focus {
					outline: none;
				}

				&.done {
					display: none;
				}

			}
		}
	}



	section#contact-form {
		padding: 25px 0 50px 0;
		background: $light-blue;

		@include tablet-portrait {
			padding: 50px 0 100px 0;
		}

		.headline {
			text-align: center;
			text-transform: uppercase;
			max-width: 640px;
			margin: 0 auto;
			padding-bottom: 40px;

			@include tablet-landscape {
				h3 {
					font-size: 1.875em;
				}
			}
		}

		.copy {
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 50px;

			p {
				font-size: 1.125em;
				line-height: 1.6em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}

		.contact-form {
			max-width: 580px;
			margin: 0 auto;

			.nf-form-fields-required {
				display: none;
			}

			.nf-field-label {
				label {
					font-weight: normal;
					color: #6b645a;
					font-size: 0.75em;
				}
			}

			.nf-field-container {

				@include tablet-portrait {
					&.email {
						width: calc(80% - 10px);
						clear: none;
						float:left;
					}

					&.zipcode {
						width: calc(20% - 10px);
						clear: right;
						float: right;
						transform: translateY(-16px);
					}
				}
			}

			.nf-field-element {
				input, select, textarea {
					border: none;

					&:focus,
					&:active {
						outline: none;
					}	
				}

				input,
				textarea {
					padding: 15px 10px;
				}

				select {
					height: 49px;
				}
			}


			.submit-container {
				.nf-field-element {
					padding-left: 24px;
					@include flag-input;						
				}

				input {
					background: $dark-blue;
					color: $white;
					border: none;
					border-radius: 0;
					display: inline-block;
					padding: 18px 20px 16px 20px;
					text-transform: uppercase;
					letter-spacing: 0.04em;
					font-weight: 600;
					font-size: 0.875em;
					position: relative;	
					
					&:focus,
					&:active {
						outline: none;
					}			
				}
			}
		}
	}


}