body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.pdfs {
	display: none;

	@include tablet-portrait {
		display: flex;
		flex-wrap: wrap;
		padding-top: 50px;
	}

	.doc {
		width: 100%;
		padding: 0 0 25px 0;


		@include mobile-landscape {
			width: 50%;
		}

		@include tablet-landscape {
			width: 33.3333%;
			padding: 0 0 50px 0;
		}

		a {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.02em;
			color: $brown;
			font-size: 0.75em;

			@include tablet-landscape {
				font-size: 0.875em;
			}

			&:before {
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				background: url(images/pdf-icon.svg) no-repeat 0 0;
				margin-right: 5px;
			}
			

			span {
				@include mobile-landscape {
					max-width: 175px;
					display: block;
					line-height: 1.25em;
				}
			}
		}


	}
}

.mobile-pdfs {
	.doc + .doc {
		padding-top: 16px;
	}
}

.list-select-wrap {

	.nf-field-element{
		position:relative;
		display: inline;

		&:after {
			content:"";
			pointer-events: none;
			position:absolute;
			top: 20px;
			right: 20px;
			width: 28px;
			height: 15px;
			background: url(images/down-arrow.svg) no-repeat 0 0;
			background-size: cover;
		    
		}

		select {
			appearance: none;
		    padding: .5em;
		    background: $white;
		    border: none;
		    border-radius: 0;
		    padding: 1em 2em 1em 1em;
		    font-size: 1em;

		    &:active,
		    &:focus {
		    	outline: none;
		    }
			
			&::-ms-expand {
				display: none;
			}

		}
	}
}