html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $dark-blue;
	font: 400 100%/1 $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	font-weight: 600;
}

p {
	color: $dark-blue;
}

a {
	color: $dark-blue;
	transition: all 0.3s ease-in-out;
}

a.flag-btn {
	background: $dark-blue;
	color: $white;
	display: inline-block;
	padding: 18px 20px 16px 20px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
	font-size: 0.875em;
	position: relative;
	margin-left: 20px;
	font-family: $biondi;

	@include tablet-portrait {
		padding: 28px 30px 26px 30px;
		margin-left: 30px;
	}

	@include flag;


	&.green {
		background: $green;

		&:before {
		    background: url(images/flag-end-green.svg) no-repeat 0 0;
		    height: 48px;
		    width: 24px;
		    background-size: cover;
		    left: -24px;
		    top: 0px;

			@include tablet-portrait {
			    height: 68px;
			    width: 34px;
			    left: -33px;
			}
		}
	}
}

.green-dots {
	padding: 0 0 25px 0;
	
	img {
		width: 100%;
		max-width: 120px;

		@include tablet-portrait {
			max-width: 200px;
		}
		
	}
}