/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$dark-blue: #083c4f;
$light-blue: #55cae0;
$green: #acb52b;
$brown: #6b645a;



/* Typography
----------------------------------*/
@import url("//hello.myfonts.net/count/379b0a");
  
@font-face {
	font-family: 'BiondiBk-Regular';
	src: url('fonts/379B0A_0_0.eot');
	src: url('fonts/379B0A_0_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/379B0A_0_0.woff2') format('woff2'),
		url('fonts/379B0A_0_0.woff') format('woff'),
		url('fonts/379B0A_0_0.ttf') format('truetype');
}
 
$biondi: 'BiondiBk-Regular', serif;
$montserrat: 'Montserrat', sans-serif;

