section#new-user {
	display: none;
	z-index: 1000000;

	.overlay {
		position: fixed;
		z-index: 10000;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(8, 60, 79, 0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.5s ease-in-out;
		padding: 20px;

		&.hide {
			opacity: 0;
		}
	}

	.overlay-wrapper {
		background: $white;
		max-width: 640px;
		padding: 50px;
		border-radius: 20px;
		box-shadow: 0 0 24px rgba(47, 46, 45, 0.5);
		max-height: 100vh;
		overflow: hidden;

		@include tablet-landscape {
			padding: 50px 100px;
		}
	}

	.close {
		position: absolute;
		top: 25px;
		right: 25px;
		font-size: 2em;
		color: $light-blue;
	}

	.headline {
		text-align: center;

		h1 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 2em;

			@include tablet-landscape {
				font-size: 3em;
			}
		}
	}

	.copy {
		padding: 10px 0 0 0;
		text-align: center;

		@include tablet-landscape {
			padding: 25px 0;
		}

		p {
			font-size: 0.875em;
			line-height: 1.5em;

			@include tablet-landscape {
				font-size: 1.125em;
			}

			& + p {
				padding-top: 25px;
			}
		}
	}

	.cta {
		text-align: center;
	}


	.graphic {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 25px;

		.arrow {
			flex: 3;

			img {
				width: 100%;
				max-width: 80px;
				margin: 0 auto;
			}
			
		}

		.yampa, .backcountry {
			flex: 2;

			img {
				width: 100%;
				max-width: 140px;
			}
			
		}
	}

	.confirm {
		padding-top: 25px;
		text-align: center;

		a.flag-btn {
			padding: 18px 20px 16px 20px;

			&:before {
			    left: -24px;
				height: 48px;
				width: 24px;
			}
		}
	}
}

