section#page-header {
	@include tablet-portrait {
		padding: 50px 0 0 0;
	}

	.info-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	h1 {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $green;
		font-size: 0.875em;
		padding-bottom: 10px !important;
		font-family: $biondi;

	}

	h2 {
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.25em;
		margin: 0 0 20px 0;
		max-width: 800px;

		@include tablet-landscape {
			font-size: 2em;
			margin-bottom: 50px;
		}

		@include desktop {
			font-size: 2.75em;
		}
	}


	.details {
		width: 100%;

		@include tablet-portrait {
			width:  66.6666%;
			padding: 0 50px 0 0;
		}


	}

	.copy {
		max-width: 800px;
		padding: 0 0 0 0;

		p {
			font-size: 1em;
			line-height: 1.5em;

			& + p {
				padding-top: 25px;
			}

			@include tablet-landscape {
				font-size: 1.25em;
			}
		}
	}

	.pdfs {
		display: none;

		@include tablet-portrait {
			display: flex;
			flex-wrap: wrap;
			padding-top: 50px;
		}

		.doc {
			width: 100%;
			padding: 0 0 25px 0;


			@include mobile-landscape {
				width: 50%;
			}

			@include tablet-landscape {
				width: 33.3333%;
				padding: 0 0 50px 0;
			}

			a {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 0.02em;
				color: $brown;
				font-size: 0.75em;

				@include tablet-landscape {
					font-size: 0.875em;
				}

				&:before {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					background: url(images/pdf-icon.svg) no-repeat 0 0;
					margin-right: 5px;
				}

				span {
					@include mobile-landscape {
						max-width: 200px;
						display: block;
						line-height: 1.25em;
					}
				}
			}
		}
	}


	.promo {
		width: 100%;
		background: url(images/general-promo-green-bg.jpg) no-repeat center center;
		background-size: cover;
		padding: 50px 25px;
		margin-top: 50px;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: url(images/white-mountains.svg) repeat-x bottom -60px center;
			background-size: 125%;

			@include tablet-portrait {
				background-size: 250%;
			}

			@include desktop {
				background-size: 200%;
			}
		}

		@include tablet-portrait {
			width:  33.3333%;
			margin: 0;
		}

		.flag {
			position: absolute;
			top: -24px;
			left: 25px;
			width: 100%;
			max-width: 48px;
			
			img {
				width: 100%;
				max-width: 48px;
			}
		}

		.promo-info {
			z-index: 10;

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: 400;
				font-size: 0.9375em;
				line-height: 1.5em;
				padding: 0 0 20px 0;
				font-family: $biondi;
			}

			a {
				text-transform: uppercase;
				font-size: 0.8125em;
				letter-spacing: 0.02em;
				font-weight: 600;
				text-decoration: underline;
				font-family: $biondi;
			}
		}
	}

}

section#menu-subnav {
	margin: 25px 0;
	padding: 25px 0;
	background: $light-blue;
	z-index: 1;
	position: static !important;

	@include tablet-portrait {
		background: $dark-blue;
		box-shadow: 0 50px 100px rgba(0, 0, 0, 0.2);
		position: sticky !important;
		top: 0;
		z-index: 100;
		width: 100%;
		margin: 0;
	}

	.mobile {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include tablet-portrait {
			display: none;
		}

		.link {
			padding: 10px;

			a {
				display: block;
				position: relative;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0, 0, 0, 0.35);
					width: 100%;
					height: 100%;
					z-index: 50;
				}

				span.page-title {
					display: flex;
					position: absolute;
					justify-content: center;
					align-items: center;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 100;
					color: $white;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					line-height: 1.25em;
					font-size: 1.25em;
					text-align: center;
					padding: 30px;
				}
			}
		}


	}

	.desktop {
		display: none;

		@include tablet-portrait {
			display: flex;
			justify-content: center;
			align-items: stretch;
		}

		.link {
			text-align: center;
			width: 18%;
			margin: 0 0.5%;
			display: flex;
			align-items: center;
			justify-content: center;


			a {
				color: $white;
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: 700;
				font-size: 0.75em;
				line-height: 1.25em;
				display: block;
				padding: 10px 16px;
				border: 2px solid transparent;
				height: 100%;
				display: flex;
				align-items: center;

				&:hover,
				&.active {
					background: $white;
					border: 2px solid $white;
					color: $dark-blue;
				}

				@include tablet-landscape {
					font-size: 0.875em;
					padding: 16px 24px;
				}

				@include desktop {
					font-size: 1em;
					letter-spacing: 0.05em;
					padding: 25px 40px;
				}
			}

			&.btn a {
				color: $light-blue;
				border: 2px solid;

				&:hover {
					background: $light-blue;
					border: 2px solid $light-blue;
					color: $white;
				}
			}


		}
	}


}
